{% extends "base.html" %}
{% block title %}Home{% endblock title %}
{% block content %}
 <style>
  .hero-container {
    height: 70vh;
    background-image: url('https://feeling-freqy-c5d2d988bdf2.s3.amazonaws.com/home-bg-3-v1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .hero-sign-up-button {
    font-size: 1.5em;
    font-weight: 700;
    border: none;
  }
 </style>
<div class="hero-container m-0 p-0">
  <div class="p-5 text-black text-center">
    <h1 class="align-items-center fw-bold mt-5">Feelin' Freqy creates music playlists</h1>
    <h1 class="align-items-center fw-bold mb-5">based on your mood.</h1>
    <h2 class="align-items-center fst-italic text-gray mt-3">Pretty cool, right?</h2>
    <i class="bi bi-gift"></i>
  </div>
  <div class="p-1 text-white text-center">
    <a name="sign-up" id="" class="btn hero-sign-up-button mt-2" 
      href="{{ url_for('sign_up') }}" style="color: purple; border: 3px solid purple" role="button">Sign Up</a>
  </div>
</div>

  {% endblock content %}

 
